.wave-in-btn {
    outline: none 0.3px black;
    outline-offset: 2rem;
    padding: 0.5rem;
}

.wave-in-btn:hover {
    cursor: pointer;
    box-shadow: 
        3px 3px 3px grey,
        3px 3px 10px grey;
}

.wave-in-btn:active {
    outline-style: solid;
    outline-color: transparent;
    outline-offset: 0rem;
    transition:
        outline-offset .2s,
        outline-color .3s;
}