* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-image: url('./bodybackground.jpg');
    background-size: 100% 100%;
}

#controller {
    width: 20%;
    margin: 2vh auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1.5rem;
    padding: 2em 0;
    opacity: 0.7;
    flex-wrap: wrap;
}

#gamebar {
    width: 100%;
}

.gamebar__bank,
#gamebar__river,
#gamebar_river--ship {
    float: left;
    height: 10rem;
}

#gamebar__river {
    position: relative;
    width: 50%;
    background-image: url('./river.jpg');
    /* background-color: blue; */
}


#gamebar__river--ship {
    position: relative;
    height: 10rem;
    width: 20vw;
    /* background-color: red; */
}

#gamebar__river--ship--items {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    overflow: auto;
    /* background-color: #333333; */
}

#gamebar__river--ship--body {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 6rem;
    overflow: auto;
    /* background-color: red; */
}

.gamebar__bank {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./riverbank.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    overflow: auto;
    /* background-color: grey; */
}

.gamebar__bank--item {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: black;
    border-radius: 20%;
    z-index: 1;
}

.gamebar__bank--item:hover {
    box-shadow: 
        0.2rem 0.2rem 0.2rem 0.1rem orangered,
        0.2rem -0.2rem 0.2rem 0.1rem orangered,
        -0.2rem 0.2rem 0.2rem 0.1rem orangered,
        -0.2rem -0.2rem 0.2rem 0.1rem orangered;
}

.demon {
    background-image: url('./demon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: red; */
}

.monk {
    background-image: url('./monk.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#initor {
    width: 50vw;
    margin: 0 auto;
    font-size: 1rem;
    background-color: rgba(208, 196, 196, 0.5);
}

.item-img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

#appendInputor {
    display: block;
}

#status-bar {
    width: 100vw;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 10vh; 
    /* background-color: lightblue; */
}

#status-bar__left, 
#status-bar__right {
    width: 25vw;
}

#status-bar__center {
    width: 50vw;
}

.status-bar__side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar__wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 8vw;
    border-radius: 2rem;
    background-color: lightslategray;
}

#message-bar {
    width: 100vw;
    height: 5vh;
    overflow: auto;
    background-color: lightblue;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
