* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-image: url('./bodybackground.jpg');
    background-size: 100% 100%;
}

#controller {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0.75rem;
    background-color: rgba(255, 0, 0, 0.3);
    backdrop-filter: blur(0.06rem);
}

#gamebar {
    width: 100%;
}

.gamebar__bank,
#gamebar__river,
#gamebar_river--ship {
    float: left;
    height: 10rem;
}

#gamebar__river {
    position: relative;
    width: 50%;
    background-image: url('./river.jpg');
}


#gamebar__river--ship {
    position: relative;
    height: 10rem;
    width: 20vw;
}

#gamebar__river--ship--items {
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    overflow: auto;
}

#gamebar__river--ship--body {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 6rem;
    overflow: auto;
    cursor: pointer;
}

.gamebar__bank {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('./riverbank.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    overflow: auto;
}

.gamebar__bank--item {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: black;
    border-radius: 20%;
    z-index: 1;
}

.gamebar__bank--item:hover {
    box-shadow: 
        0rem 0.1rem  black,
        0.1rem 0rem  black,
        0rem -0.1rem black,
        -0.1rem 0rem black;
}

.demon {
    background-image: url('./demon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.monk {
    background-image: url('./monk.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#initor {
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(0.06rem);
}

.item-img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

#appendInputor {
    display: block;
}

#status-bar {
    width: 100vw;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 10vh; 
}

#status-bar__left, 
#status-bar__right {
    width: 25vw;
}

#status-bar__center {
    width: 50vw;
}

.status-bar__side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar__wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 8vw;
    border-radius: 2rem;
    background-color: lightslategray;
}

#message-bar {
    width: 100vw;
    height: 5vh;
    overflow: auto;
    background-color: lightblue;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#abank-icon-monk,
#abank-icon-demon,
#ship-icon-monk,
#ship-icon-demon,
#bbank-icon-monk,
#bbank-icon-demon {
    cursor: pointer;
}

#info {
    background-color: rgba(250, 245, 245, 0.2);
    backdrop-filter: blur(3px);
}